<mat-toolbar color="primary">
  <span style="font-weight: bold">Database Generator</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    
    <app-header></app-header>
    <mat-divider></mat-divider>
    <br>
    <table class="width100"><tr><td class="borderTd" style="width:20%;vertical-align: top">
    <app-navigation></app-navigation>
    </td>
    <td class="width80 borderTd" style="vertical-align: top">
  <router-outlet></router-outlet>
    </td>
    </tr></table>
    
  </mat-card-content>
</mat-card>